pip==9.0.1

# release management
bumpversion==0.5.3
wheel==0.29.0
cryptography==1.9

# test, lint, coverage
flake8==3.8.4
tox==2.7.0
coverage==4.4.1
coveralls~=1.1
discover==0.4.0

# used in travis_pypi_setup.py
PyYAML==3.12

# doc-related
docutils==0.13.1
Sphinx==1.6.2
